body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
    background: url('./icons/gv_default.png');
    height: 53vh;
      width: 100%;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

h1 {
  position: absolute;
      top: 19vh;
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: Lato;
      font-size: 36px;
      font-weight: bold;
      line-height: 55px;
      text-align: center;
}
